server:
  port: 8083

spring:
  application:
    name: enrollment-service
  datasource:
    url: jdbc:h2:mem:enrollmentdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

# Configuration Feign
spring.cloud.openfeign.circuitbreaker.enabled: true

# Configuration Resilience4J
resilience4j:
  circuitbreaker:
    instances:
      enrollmentService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
  retry:
    instances:
      enrollmentService:
        maxAttempts: 3
        waitDuration: 1s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
  timelimiter:
    instances:
      enrollmentService:
        timeoutDuration: 3s

logging:
  level:
    com.lms.enrollment: DEBUG
    org.springframework.web: INFO
    io.github.resilience4j: DEBUG
